.box_outter {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.box_inner {
  max-width: 300px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  background-color: aliceblue;
}

.container {
  max-width: 1200px;
  margin: 50px auto;

}

.btn {
  background-color: #FFF;
  border: 1px solid #000;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 400ms all linear;
}
.btn:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #FFF;
}